/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*ALL HTML elements have default values for their margin and padding properties. Giving them the value of "0" makes us easier for us to manipulate the size and positioning of elements.*/

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro button {
	color: white;
	font-weight: bold;
	background: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/* ACTIVITY */

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	font-weight: 600;

}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 2rem;
}

#pre-footer {
	margin-top: 2rem;
	background-color: #002540;
	color: #FFFFFF;
	padding: 1rem;
}

.inline-block {
	display: inline-block;
}

.footer-col {
	width: 20%;
}

.footer-col p {
	margin: 0.2rem 0;
}

.bottom-footer {
	padding: 0.5rem 1rem;
}

.bottom-footer .pipe {
	display: inline-block;
	margin: 0 1rem;
}